<!doctype html>
{% autoescape true %}
<html lang="en">
<head>
    <title>Rasman : the Raspberry Pi Manager</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<div class=page>
    <div class=topbar>
        <h1><img src="/static/images/monstaaar2.jpg" height="60" align="middle" alt="BioMONSTAAAR logo">Rasman (the Raspberry Pi Manager)</h1>
        {% if session['username'] %}
            <p align="right">Welcome {{ session['username'] }}! You can <a href="{{ url_for('logout') }}">logout</a></p>
        {% else %}
            <p align="right"> You are not logged in. <a href="{{ url_for('login') }}">Login</a></p>
        {% endif %}
    </div>


    <div class=midpage>
        <div class=sidebar>    
            <ul id="navigationMenu">
                <li>
                    <a class="home" href="{{ url_for('home') }}">
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a class="setup" href="{{ url_for('setup') }}">
                        <span>Setup</span>
                    </a>
                </li>
                <li>
                     <a class="info" href="{{ url_for('status') }}">
                        <span>Status</span>
                     </a>
                </li>
                <li>
                    <a class="files" href="{{ url_for('recentdata') }}">
                        <span>History</span>
                    </a>
                </li>
                <li>
                    <a class="contact" href="{{ url_for('contact') }}">
                        <span>Contact</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class=content>
            {% block body %}{% endblock %}
        </div>
    </div>

</div>

</html>
{% endautoescape %}




