{% autoescape true %}
<html lang="en">
<head>
    <title>Rasman : the Raspberry Pi Manager</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<div class="page">
    <div class="topbar">
        <h2><img src="/static/images/rasman_logo.png" height="50" align="bottom" alt="Rasman logo"></h2>
        {% if session['username'] %}
            <p align="right">Welcome {{ session['username'] }}! You can <a href="{{ url_for('logout') }}">logout</a></p>
        {% else %}
            <p style="font-size: 0.8em; padding-bottom: 5px;" align="right"> You are not logged in. <a href="{{ url_for('login') }}">Login</a></p>
        {% endif %}
        <hr/>
    </div>


    <div class="midpage">
        <div class="sidebar">    
            <ul id="navigationMenu">
                <li>
                    <a class="home" href="{{ url_for('home') }}">
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a class="setup" href="{{ url_for('setup') }}">
                        <span>Setup</span>
                    </a>
                </li>
                <li>
                     <a class="info" href="{{ url_for('status') }}">
                        <span>Status</span>
                     </a>
                </li>
                <li>
                    <a class="files" href="{{ url_for('recentdata') }}">
                        <span>History</span>
                    </a>
                </li>
                <li>
                    <a class="contact" href="{{ url_for('contact') }}">
                        <span>Contact</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content">
            {% block body %}{% endblock %}
        </div>
    </div>

</div>

</html>
{% endautoescape %}




