<!DOCTYPE html>
{% extends "layout.html" %}
{% block body %}

<script src="/static/js/libs.js"></script>

<div id="plots">
</div>
<script id="streamSummary" type="text/template">
    <h3><%= title %></h3>
    <table class="summaryTable">
        <tr>
            <td>Mean</td>
            <td><%= mean.toFixed(2) %> &plusmn; <%= stdDev.toFixed(2) %></td>
        </tr>
        <tr>
            <td>Median</td>
            <td><%= median.value %></td>
        </tr>
        <tr>
            <td>Minimum</td>
            <td><%= min.value %></td>
        </tr>
        <tr>
            <td>Maximum</td>
            <td><%= max.value %></td>
        </tr>

    </table>
</script>
<script src="/static/js/recentdata.js"></script>

{% endblock %}
