<!DOCTYPE html>
<html>
{% extends "layout.html" %}
{% block body %}

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/dygraph-combined.js"></script>

<br/><br/>
<div id="plots">
</div>

<script src="/static/js/app.js"></script>

<!--
<h2>Recent Data</h2>
<br/>

<b>Controller ID:</b> {{ config['controller_id'] }}<br/><br/>

<table border="1" width="100%" style="float: center; font-size: 0.8em;">
    <tr>
        <th>Timestamp</th>
        <th>Sensor Data</th>
        <th>Uploaded</th>
    </tr>
    {% for row in measurements %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
    </tr>
    {% endfor %}
</table>
-->

{% endblock %}
