{% extends "layout.html" %}
{% block body %}

<h2>Reactor Setup</h2>

    <form action="" method="post">
        <h2>Column 1</h2>
        <p>Controller Id <input type=text name=controllerId>
        <p>Port <input type=text name=port>
        <p>Baudrate <input type=text name=baudrate>

        <br/><br/>
        <h2>Column 2</h2>
        <p>Controller Id <input type=text name=controllerId>
        <p>Port <input type=text name=port>
        <p>Baudrate <input type=text name=baudrate>
        
        <br/><br/>
        <p><input type=submit value=Save>
    </form>

{% endblock %}
