{% extends "layout.html" %}
{% block body %}

<h2>Bioreactor Status</h2>
<br/>
<p><b>{{ config['controller_id'] }}</b></p>
{% if timestamp %}
    <p>Measured on {{ timestamp }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% if uploaded %}
        <p style="color:green">UPLOADED</p>
    {% else %}
        <p style="color:red">NOT UPLOADED</p>
    {% endif %}
    </p>
    <br/>
{% endif %}
{% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
{% endfor %}
<br/>


<table border="1" width="60%" style="float:center">
    <tr>
        <th>Sensors</th>
        <th>Value</th>
        <th>Units</th>
    </tr>
    {% for sensor in config['sensors'] %}
        <tr>
            <td> {{ config['labels'][loop.index -1] }} </td>
            <td> {{ data[sensor] }} </td>
            <td> {{ config['units'][loop.index - 1] }} </td>
        </tr>
    {% endfor %}
</table>

<br/>
<table border="1" width="60%" style="float:center">
    <tr>
        <th>Motor Pumps</th>
        <th>Status</th>
        <th>Last Active</th>
    </tr>
    <tr>
        <td>Mixer</td>
        <td>on</td>
        <td>running</td>
    </tr>
    <tr>
        <td>Nutrient Feed</td>
        <td>off</td>
        <td>47 minutes ago</td>
    </tr>
    <tr>
        <td>Harvester</td>
        <td>off</td>
        <td>3 hours ago</td>
    </tr>
</table>

{% endblock %}


