{% extends "layout.html" %}
{% block body %}

<h3>Remote Operation Panel</h3>
<div class="switches">
    Motor 1
    <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="motor1">
        <label class="onoffswitch-label" for="motor1">
            <div class="onoffswitch-inner"></div>
            <div class="onoffswitch-switch"></div>
        </label>
    </div>
    <div class="timestamp"></div>

    Motor 2
    <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="motor2">
        <label class="onoffswitch-label" for="motor2">
            <div class="onoffswitch-inner"></div>
            <div class="onoffswitch-switch"></div>
        </label>
    </div>
    <div class="timestamp"></div>

    Motor 3
    <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="motor3">
        <label class="onoffswitch-label" for="motor3">
            <div class="onoffswitch-inner"></div>
            <div class="onoffswitch-switch"></div>
        </label>
    </div>
    <div class="timestamp"></div>

    Peltier
    <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="peltier">
        <label class="onoffswitch-label" for="peltier">
            <div class="onoffswitch-inner"></div>
            <div class="onoffswitch-switch"></div>
        </label>
    </div>
    <div class="timestamp"></div>

    Light
    <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="light">
        <label class="onoffswitch-label" for="light">
            <div class="onoffswitch-inner"></div>
            <div class="onoffswitch-switch"></div>
        </label>
    </div>
    <div class="timestamp"></div>

    <button id="edit">Edit</button>
    <button id="apply">Apply</button>
    <hr></hr>
</div>
</br>
<h3>Server Software Ports</h3>
<div class="switches">
    <hr></hr>
</div>

<h3>Ports Available</h3>
<div class="switches">
    <hr></hr>
</div>

<script src="/static/js/control.js"></script>

{% endblock %}


